@import '~ant-design-vue/dist/antd.less';

@primary-color:#354A51;
@link-color: #DBF5E0;
@heading-color: #DBF5E0;
@text-color: #fff; // 主文本色
@text-color-secondary: #CFCFCF; // 次文本色
@component-background : #354A51;
@body-background:#354A51;
@background-color-base:#354A51;
@background-color-select-hover:#DBF5E0;

.ant-card-actions{
  background: #658885;
  border-top: 1px solid #658885;
}
.ant-card-cover{
  background: #658885;
  margin: 5px;
}
.ant-card-bordered {
  border: 1px solid #354A51;
}
.ant-card-meta-title{
  color: #354A51;
}
.ant-card-body {
  padding: 12px;
  zoom: 1;
}
.ant-card-meta-detail{
  text-align:left;
  padding-left: 10px;
}

