@import '~ant-design-vue/dist/antd.less';

@primary-color:#354A51;
@link-color: #DBF5E0;
@heading-color: #DBF5E0;
@text-color: #fff; // 主文本色
@text-color-secondary: #CFCFCF; // 次文本色
@component-background : #354A51;
@body-background:#354A51;
@background-color-base:#354A51;
@background-color-select-hover:#DBF5E0;

.ant-card-actions{
  background: #658885;
  border-top: 1px solid #658885;
}
.ant-card-cover{
  background: #658885;
  margin: 5px;
}
.ant-card-bordered {
  border: 1px solid #354A51;
}
.ant-card-meta-title{
  color: #354A51;
}
.ant-card-body {
  padding: 12px;
  zoom: 1;
}
.ant-card-meta-detail{
  text-align:left;
  padding-left: 10px;
}
.ant-table-thead > tr > th{
  background: #658885;
}
.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td, .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td, .ant-table-thead > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td, .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td{
  background: #658885;
}
.ant-table-tbody > tr.ant-table-row-selected td{
  background: #658885;
}
.ant-table-thead > tr:hover.ant-table-row-selected > td, .ant-table-tbody > tr:hover.ant-table-row-selected > td{
  background: #658885;
}
.ant-pagination-item-active a{
  color: #658885;
}
.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters .anticon-filter.ant-table-filter-open, .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters .ant-table-filter-icon.ant-table-filter-open{
  background: #354A51;
}
.ant-table-thead > tr > th .ant-table-column-has-actions.ant-table-column-has-filters:hover, .anticon-filter:hover,.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters:hover .ant-table-filter-icon:hover{
  background: #354A51;
}
tr.ant-table-expanded-row, tr.ant-table-expanded-row:hover{
  background: #354A51;
  color: #DBF5E0;
}
.result-small .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
  padding: 8px 8px 12px 12px;
}



